<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEVOLUCIONES</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fondo">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"></a>
              <img src="../../assets/img/TIGRE-PNG.png" alt="imagen" class="img-fluid" width="80" height="80">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page"> <h2 id="nombreEtiquetaBanner">BIENVENIDO A SURA RECLAIM</h2></a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>

    </header>

    <main>  

       <section class="container">

        <div class="row my-5 text-center justify-content-center">
            <div class="col-12">
                <h1 id="letra-titulo">CONSULTA DE DEVOLUCIONES</h1>
                <p>En este sitio puedes consultar el motivo o la causal de devolución de tus facturas.</p>
            </div>
       </section>

       <section class="container my-5">
        <div class="row justify-content-center text-center">
<div class="col-4">
  <img src="../../assets/img/pngimg.com - doctor_PNG15992.png" alt="img" class="img-fluid">
</div>


            <div class="col-8">
                <form>
                    <div class="row">
                        <div class="col-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                 Consulta por Prestador
                                </label>
                              </div>
                        </div>
                        <div class="col-5">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Tipo de Documento</span>
                                <input type="text" class="form-control" placeholder="CC o NIT" aria-label="Username" aria-describedby="basic-addon1" id="tipoDocumento">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"> Número de Identificación</span>
                                <input type="text" class="form-control" placeholder="890911" aria-label="Username" aria-describedby="basic-addon1" id="numeroIdentificacion">
                              </div>
                        </div>
                    </div>
      
       <section class="container my-5">
        <div class="row justify-content-center text-center">
            <div class="col-8">
                <form>
                    <div class="row">
                        <div class="col-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                 Consulta por Factura
                                </label>
                              </div>
                        </div>
                        <div class="col-5">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Prefijo</span>
                                <input type="text" class="form-control" placeholder="Ingresar prefijo" aria-label="Username" aria-describedby="basic-addon1" id="prefijo">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Número de Factura</span>
                                <input type="text" class="form-control" placeholder="123..." aria-label="Username" aria-describedby="basic-addon1" id="factura">
                              </div>
                        </div>
                    </div>

                    <div class="row my-5">
                        <div class="col-2">
                            <div class="form-check disabled ">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                 Consultas por Causal
                                </label>
                              </div>
                        </div>
                        <div class="col-10">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Número de Causal</span>
                                <input type="text" class="form-control" placeholder="821-1" aria-label="Username" aria-describedby="basic-addon1" id="causal">
                              </div>
                        </div>
                    </div>

                    <button class="btn btn-primary mx-auto d-block w-50" id="botonIngreso">Consultar</button>

                </form>
            </div>
        </div>
       </section>
    

    </main>

    <footer>
        <a href="./datos.html"><button class="btn btn-warning mx-auto d-block w-10 mb-5" id="botonIngreso">Actualizate</button></a>
       
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../controllers/controladorhome.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../views/home.html"></script>
</body>
</html>