.fondo{
    background: rgb(93,120,255);
    background: radial-gradient(circle, rgba(93,120,255,1) 3%, rgba(15,104,206,1) 78%);
}

.banner{
    background-image: url("../img/banner.png");
    padding: 25%;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0.4;
    z-index: -1;
}

.menutransparente{
    background-color: transparent;
}

.bgForm {
    background-color: aliceblue;
}
.fondoAcercade{
    background-color: black;
}
    .fondo{
        background-color: rgb(0, 187, 255);
    }

    .letra{
        font-family: 'Edu QLD Beginner', cursive;
        font-size: 20px;
        color: white;
        font-weight:bolder;
    }
    
    .zoom {
        
        transition: transform .2s; /* Animation */
        
      }
      
      .zoom:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */